<div class="left">
    <ul class="aboutitems">
        <li>I've currently work as a full-stack developer, specialising in .NET technology.</li>
        <li>I also currently work as an IT Operations Manager, managing the infrastructure and servers for a small corporate business with approximately 70 staff and around 200+ remote contractors & clients.</li>
        <li>My passions not only lie in software development and providing solutions, but managing and mentoring IT staff.</li>
        <li>I love learning new technologies, as well as finding better ways to do things.</li>
        <li>I also have 5+ years of experience managing the following infrastructures:
            <li>
                <ul>
                    <li>VMWare ESXi Hosts</li>
                    <li>MySQL Database Servers</li>
                    <li>IIS Web Servers</li>
                    <li>Apache Web Servers (hosted on Linux based systems)</li>
                </ul>
            </li>
            <li>In my spare time, I enjoy</li>
            <li>
                <ul>
                    <li>Cooking</li>
                    <li>Finding (and booking) my next overseas holidays</li>
                    <li>Cheering (or getting frustrated at) Carlton in the AFL</li>
                </ul>
            </li>
    </ul>
</div>

<div class="right">
    <img src="../../assets/me.jpg" class="profile-photo" title="Yep, I'm a Carlton supporter">
</div>