<div class="left">
    <ul class="aboutitems">
        <li>I am item number 1</li>
        <li>I am item number 2</li>
        <li>I am item number 3</li>
        <li>I am item number 4</li>
        <li>I am item number 5</li>
        <li>I am item number 6</li>
        <li>I am item number 7</li>
        <li>I am item number 8</li>
        <li>I am item number 9</li>

    </ul>
</div>

<div class="right">
    <img src="../../assets/me.jpg" class="profile-photo" title="Yep, I'm a Carlton supporter">
</div>