<div class="topnav">
    <div id="0" (mouseover)="buttonMouseOver(0)" (mouseout)="buttonMouseOut()" routerLink="/about" class="circle circle-background-yellow circle-font-black">A</div>
    <div id="1" (mouseover)="buttonMouseOver(1)" (mouseout)="buttonMouseOut()" routerLink="/projects" class="circle circle-background-green circle-font-white">P</div>
    <div id="2" (mouseover)="buttonMouseOver(2)" (mouseout)="buttonMouseOut()" (click)="downloadResume()" class="circle circle-background-blue circle-font-white">R</div>
    <div id="3" (mouseover)="buttonMouseOver(3)" (mouseout)="buttonMouseOut()" routerLink="/contact" class="circle circle-background-orange circle-font-white">C</div>
    <div id='subtext' class="subtitle-text">{{SubtitleText}}</div>
    <div class="clear"></div>
</div>
<div class="main-container">
    <main [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
    </main>
</div>