<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="main-container">
    <div class="large-header">Hey! My name is Andrew Milici</div>
    <div class="medium-header">I'm a full stack developer with with over 7 years experience.</div>
    <div class="small-header">Feel free to look around or get in touch :)</div>
    <div class="circle-container-outer">
        <div id="0" (mouseover)="buttonMouseOver(0)" (mouseout)="buttonMouseOut()" routerLink="/about" class="circle circle-background-yellow circle-font-black">A</div>
        <div id="1" (mouseover)="buttonMouseOver(1)" (mouseout)="buttonMouseOut()" routerLink="/services" class="circle circle-background-red circle-font-white">S</div>
        <div id="2" (mouseover)="buttonMouseOver(2)" (mouseout)="buttonMouseOut()" routerLink="/projects" class="circle circle-background-green circle-font-white">P</div>
        <div id="3" (mouseover)="buttonMouseOver(3)" (mouseout)="buttonMouseOut()" routerLink="/game" class="circle circle-background-purple circle-font-white">B</div>
        <div id="4" (mouseover)="buttonMouseOver(4)" (mouseout)="buttonMouseOut()" routerLink="/contact" class="circle circle-background-orange circle-font-white">C</div>
    </div>
    <div class="clear"></div>
    <div id='subtext' class="subtitle-text">{{SubtitleText}}</div>

</div>
<div class="socialblock">
    <a href="https://github.com/andrewmilici" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/andrew.milici/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/andrew-milici-5b670479" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
    <a href="https://twitter.com/andrewmilici47" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/andrew.milici/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>

</div>